/* :default start */

html {
    scroll-behavior: smooth;

}

body {
    font-family: oswald;
}

/* :default eds */

/* header start  */

header h1 {
    font-family: Handlee;
    color: lime;
    padding-top: 14%;
    text-transform: uppercase;

}

#navId {
    background: white !important;

}

/* header ends */


/* carousel-section start now */

.carousel-item img {
    width: 100% !important;
    height: 90vh;

}


/*carousel ends here */




.progress {
    border-radius: 16px !important;
    background: white !important;
}

.progress-bar {
    border-radius: 16px !important;
}





/* <!-- Services starts here --> */
#servicesId {
    text-align: center;
    color: white;
    background: linear-gradient(#00000075, #00000075),
        linear-gradient(#000000cf, #000000cf),
        url(img/l.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom:50px;
}

#hrId {
    width: 100px;
    border-bottom: 1px solid;

}

.col-hover {
    transition: .3s;
    cursor: pointer;
}

.col-hover:hover {
    background: white;
    color: black;
    border-radius: 15px;




}

.icon-style {
    transition: .3s;
}

.col-hover:hover .icon-style {
    border: 2px solid magenta !important;
    color: magenta !important;
}

/* <!-- Services ends here --> */

/* <!-- team strts here --> */
.imgDiv{
    position: relative;
}
.imgDiv img{
    height: 140px;
    filter: grayscale(1);
    transition: .3s;
}

.ul{
    position:absolute;
    list-style:none;
     
    bottom:5%;
  
}
.ul li {
   display:inline-block;
   

}
.ul li a{
     opacity: 0;
    font-size:20px;
     display:block;
     padding: 6px;
     margin-left:10px
}
.card:hover .ul li a{
    opacity: 1;
}


.card{
    transition: .3s;
    padding-top:30px ;
}
.card:hover{
    box-shadow: 6px 18px 8px black;

}

.card:hover .imgDiv img{
    filter: grayscale(0);
}

.card-body{
    font-size: 14px;
    color:black;
    font-family: oswald;
}
/* <!-- team off here --> */







/* <!-- Contact section start here --> */


#contactId{
    background: 
    linear-gradient(#00000087,black),url('img/w.jpg');
    background-size:cover;
    background-position:center;
    padding:60px
}


/* <!-- Contact section ends here --> */




/* <!-- price section starts here --> */



.singlePirceBox{
  
    transition: .3s;
    
    transform: scale(.9);
} 


.singlePirceBox:hover{
    transform: scale(1);

    box-shadow: 6px 18px 8px black;
}


/* <!-- price section starts here --> */


 /* Testimonials section starts  here  */
.profile{
     
    background:#e9ecef;
   
}
.profile h5{
  color:#007bff;
    
}

.profile h5 span{
  color:black;
    font-size:13px
}
.proImg{
    position:relative;
    top:-30px;
   left:40%;
     
    
  
   
    margin:auto;
}

.proImg img{
    width: 70px;
    padding:8px
}
  /* Testimonials section eds here  */









  #footerId{
      background:#03070ade;
  }
  

  .list{
      list-style-type:none !important;
  }
  .list li a{
      color:#ffffff9c;
    
  }

  .Social{
      list-style: none;;
  }


  #inputId{
    background:#24272a;;
    border:none;
    border-bottom: 2px solid #ffffff61;
    outline:none;
  }
  #inputId::placeholder{
    
    padding:
  }

  .CopyRight{
    padding-top:20px;
    border-top:2px solid #ffffff63;
  }

  .fa-2x{
      transition: .3s;
   font-size: 28px !important;
  }
  .fa-2x:hover{
   color:magenta;
  }
